{%extends "cms/base.html"%}

{%block content%}

{%for items in posts.latest%}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" style = "background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url({{items.lBan.url}}); background-size:cover">
    <div class="col-md-6 px-0" >
      <h1 class="display-4 font-italic">{{items.title}}</h1>
      <p class="lead my-3">{{items.body | slice:':150'}}</p>
      <p class="lead mb-0"><a href="{%url 'cms:detail' items.pk%}" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
  {%endfor%}

  <div class="row mb-2">
  	{%for items in posts.latest2%}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style = "background: linear-gradient(rgba(0, 0, 50, 0.6), rgba(0, 0, 100, 0.6)),url({{items.lBan.url}}); background-size:cover;">
        <div class="col p-4 d-flex flex-column position-static text-light">
          <strong class="d-inline-block mb-2 text-success">{{items.category}}</strong>
          <h3 class="mb-0">{{items.title}}</h3>
          <div class="mb-1 text-muted">{{items.postDate}}</div>
          <p class="mb-auto">{{items.body | slice:':100'}}</p>
          <a href="{%url 'cms:detail' items.pk%}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Blog Posts
      </h3>

      <div class="row mb-2">
  	{%for items in posts.latest10%}
    <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{items.category}}</strong>
          <h3 class="mb-0">{{items.title}}</h3>
          <div class="mb-1 text-muted">{{items.postDate}}</div>
          <p class="mb-auto">{{items.body | slice:':150'}}</p>
          <a href="{%url 'cms:detail' items.pk%}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src = "{{items.pBan.url}}" />
        </div>
      </div>
    </div>
    {%endfor%}
  </div>

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->
 {%endblock%}