{%extends "cms/base.html"%}

{%block content%}

<div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.postDate}} by <a href="#">{{post.author}}</a></p>
        <hr>

        <div style = "background-size:cover;min-height:300px;background-image: url({{post.lBan.url}})">
        </div>
        <hr>

        <div>
          <p id = "content">{{post.body}}</p>
        </div>
        <hr>

        <div class = "row">
          <div class = "col">
            {%for items in related%}
              <div>
                <h4>{{post.title}}</h4>
                <a href = "{%url 'cms:detail' items.pk%}">Read More</a>
              </div>
            {%endfor%}
          </div>
        </div>
      </div><!-- /.blog-post -->

      <style>
        p#content::first-letter{
          font-size:50px;
          font-weight:bolder;
        }
      </style>
{%endblock%}