{%extends "cms/base.html"%}

{%block content%}

<div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.postDate}} by <a href="#">{{post.author}}</a></p>
        <hr>

        <div style = "background-size:cover;min-height:300px;background-image: url({{post.lBan.url}})">
        </div>
        <hr>

        <div>
          <p id = "content">{{post.body | linebreaks}}</p>
        </div>
        <hr>

        <div class = "row">
          <div class = "col-md-8">
            <h3 class = "btn btn-block btn-info"><b>More Post</b></h3>
            <br>
            {%for items in related%}
              <div>
                <h4>{{items.title}}</h4>
                <a href = "{%url 'cms:detail' items.pk%}">Read More</a>
                <hr>
              </div>
            {%endfor%}
          </div>
          {%endblock%}

        </div>
      </div><!-- /.blog-post -->

      <style>
        p#content::first-letter{
          float:left;
          background-color:black;
          color:white;
          box-shadow: 3px 3px 0 red;
          margin:7px;
          font-weight:bolder;
          font-size:50px;
      </style>



{%block script%}
<script>
  var hide = document.querySelector('#sidebar');
  
</script>
{%endblock%}